# Default ignored files
/shelf/
/workspace.xml
/aRegister.iml
/misc.xml
/modules.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
activityRegister.iml
misc.xml
modules.xml
vcs.xml
workspace.xml
cmake-build-debug